body{
	width:60%;
	margin-left:250px;
	font-family: "Lucida Grande";
	font-size:10pt;
}

ul#table_of_content{
	list-style-type:none;
	position:fixed;
	left:20px;
	width:180px;
	top:10px;
	padding:0px;
	padding-left:0px;
	border:solid thin #aaAAaa;
	background:#eeEEee;
	text-align:center;
}

ul#table_of_content li{
	padding:4px;
	margin:0px;
}

ul#table_of_content li.table_of_content_item0{
	background-color:#dddddd;
}

ul#table_of_content li.table_of_content_item0:hover{
	background-color:#ffFFff;
}

ul#table_of_content li.table_of_content_item1{
	background-color:#eeEEee;
}

ul#table_of_content li.table_of_content_item1:hover{
	background-color:#ffFFff;
}

li#table_of_content_title{
	font-weight:bold;	
    min-height:30px;
}

li#table_of_content_embellishment_start, li#table_of_content_embellishment_end {
    background-image:url('images/toc_embellishment.png');
    min-width:24px;
    min-height:30px;
    border:0;
    background-repeat:no-repeat;
    background-position: 50% 50%;
}

li#table_of_content_embellishment_start{
	padding-top:5px;
	padding-bottom:5px;
}

li#table_of_content_embellishment_end{
	padding-top:5px;
	padding-bottom:5px;
}

li#table_of_content_back{
	font-weight:bold;	
	border-bottom:solid thin #AAaaAA;
	background-color:#ddDDdd;
}

li#table_of_content_back:hover{
	background-color:#ffFFff;
}

ul#table_of_content a{
	text-decoration:none;
	color:#333333;
}

ul#table_of_content a:hover{
	text-decoration:none;
	color:black;
}

ul.enumerate{
	list-style-type:decimal;
}

li{
	margin:5px;
}

h1{
	margin-bottom:50px;
}

h2{
	border-bottom: solid thin #aaAAaa;
	margin-top:50px;
	margin-bottom:25px;
}

p{
	margin-left:20px;
	margin-right:10px;
}

.top{
	text-align:right;
}

#content{
	margin-top:25px;
	position:relative;
}

#footer{
	border-top:solid thin #aaAAaa;
	margin-top:150px;
	margin-bottom:20px;
	padding-top:10px;
	text-align:center;
}

img.icon{
	float:right;
	width:64px;
}

img.icon32{
	float:right;
	width:32px;
}

img.screenshot{
	margin-top:20px;
	margin-bottom:20px;
}

img.left {
    float: left;
    margin-right: 10px;
}

img.right {
    float: right;
    margin-left: 10px;
}



#blueprint{
	background-image:url('images/OsiriXBlueprint.png');
	position:fixed;
	width:500px;
	height:450px;
	right:0px;
	top:0px;
	opacity:0.3;
}
